registry=https://registry.npmjs.org/
engine-strict=true
strict-peer-dependencies=true
auto-install-peers=false
prefer-workspace-packages=true
save-workspace-protocol=true
link-workspace-packages=true
store-dir=.pnpm-store
virtual-store-dir=.pnpm/virtual
prefer-frozen-lockfile=true
prefer-offline=true
enable-pre-post-scripts=true
resolution-mode=highest
shared-workspace-lockfile=true
use-lockfile=true
verify-store-integrity=true
node-linker=hoisted
public-hoist-pattern[]=@types/*
public-hoist-pattern[]=eslint
public-hoist-pattern[]=prettier
public-hoist-pattern[]=ts-node
public-hoist-pattern[]=vitest
