openapi: 3.1.0
info:
  title: Lumi Commerce Core API
  version: 1.0.0
  description: >
    Canonical specification for the Lumi commerce backend covering catalog, cart, order, and
    user-management surfaces. All endpoints honour the Q2 response contract, enforce server-side
    validation, and emit audit events for privileged operations.
  contact:
    name: Lumi Platform Team
    email: platform@lumi-commerce.com
servers:
  - url: https://api.lumi-commerce.com/api
    description: Production
  - url: https://staging-api.lumi-commerce.com/api
    description: Staging
  - url: http://localhost:4000/api
    description: Local development
tags:
  - name: Catalog
    description: Product, variant, and category operations.
  - name: Cart
    description: Persistent shopping cart operations.
  - name: Orders
    description: Order lifecycle, payments, and tracking endpoints.
  - name: Users
    description: Customer self-service profile, address, and preference APIs.
  - name: Media
    description: Media library operations, Cloudinary delivery, and administrative asset controls.
  - name: Admin
    description: RBAC-protected administrative controls.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >
        Signed JWT generated by the authentication service. Customer endpoints require a valid
        access token, while admin routes additionally enforce the `admin` role (S3).
    serviceToken:
      type: apiKey
      in: header
      name: X-Service-Token
      description: >
        Service-to-service token used by trusted internal clients. Limited to server-side contexts.
  headers:
    X-RateLimit-Limit:
      description: Maximum number of requests allowed within the active window.
      schema:
        type: integer
    X-RateLimit-Remaining:
      description: Remaining requests before throttling begins.
      schema:
        type: integer
    X-RateLimit-Reset:
      description: UNIX epoch (seconds) when the bucket resets.
      schema:
        type: integer
        format: int64
    Retry-After:
      description: Seconds until the client may safely retry.
      schema:
        type: integer
  parameters:
    RequestIdHeader:
      name: X-Request-Id
      in: header
      description: Optional idempotency token supplied by clients.
      schema:
        type: string
        format: uuid
    ProductSlug:
      name: slug
      in: path
      required: true
      schema:
        type: string
    ProductId:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: cuid
    VariantId:
      name: variantId
      in: path
      required: true
      schema:
        type: string
        format: cuid
    CategorySlug:
      name: slug
      in: path
      required: true
      schema:
        type: string
    CategoryId:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: cuid
    OrderId:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: cuid
    OrderReference:
      name: reference
      in: path
      required: true
      schema:
        type: string
    CartItemId:
      name: itemId
      in: path
      required: true
      schema:
        type: string
        format: cuid
    AddressId:
      name: addressId
      in: path
      required: true
      schema:
        type: string
        format: cuid
    UserId:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: cuid
    MediaId:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: cuid
  examples:
    StandardSuccess:
      summary: Success envelope
      value:
        success: true
        data: {}
        meta:
          timestamp: 2025-10-01T12:00:00Z
          requestId: 5a8f4ec3-5c58-4f08-8200-0b2fd299e9e0
    ValidationError:
      summary: Validation failure
      value:
        success: false
        error:
          code: VALIDATION_ERROR
          message: Invalid request parameters
          details:
            - field: title
              message: Title must be at least 3 characters long.
        meta:
          timestamp: 2025-10-01T12:00:00Z
          requestId: 0c1eaa62-df05-4cf3-8f42-5d3fd20f27d1
    MediaListSuccess:
      summary: Paginated media assets
      value:
        success: true
        data:
          - id: cm2x1y2z3
            publicId: lumi/products/board-001
            url: https://res.cloudinary.com/lumi/image/upload/v1727704823/lumi/products/board-001.jpg
            secureUrl: https://res.cloudinary.com/lumi/image/upload/v1727704823/lumi/products/board-001.jpg
            folder: lumi/products
            format: jpg
            resourceType: image
            type: upload
            width: 1920
            height: 1080
            bytes: 245678
            tags:
              - product:cm2a0b1c2
              - hero
            metadata:
              alt: Carbon desk with walnut legs
              dominantColor: "#3B82F6"
              blurDataUrl: data:image/webp;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAFElEQVQoU2NkQAL+/v7/Bw4cOADzCQ4GT5GpewAAAABJRU5ErkJggg==
            version: 3
            visibility: public
            transformations:
              original: https://res.cloudinary.com/lumi/image/upload/v1727704823/lumi/products/board-001.jpg
              thumbnail: https://res.cloudinary.com/lumi/image/upload/c_fill,w_300,h_300/v1727704823/lumi/products/board-001.jpg
              medium: https://res.cloudinary.com/lumi/image/upload/c_limit,w_800/v1727704823/lumi/products/board-001.jpg
              large: https://res.cloudinary.com/lumi/image/upload/c_limit,w_1920/v1727704823/lumi/products/board-001.jpg
              responsive_640: https://res.cloudinary.com/lumi/image/upload/c_limit,w_640/v1727704823/lumi/products/board-001.jpg
            usage:
              products:
                - id: cm2a0b1c2
                  title: Carbon Desk
                  slug: carbon-desk
              variants:
                - id: cm2a0b1v0
                  sku: CARBON-DESK-STD
                  productId: cm2a0b1c2
            createdAt: 2025-09-29T10:01:08.000Z
            updatedAt: 2025-09-29T10:01:08.000Z
        meta:
          pagination:
            totalItems: 42
            page: 1
            pageSize: 24
            totalPages: 2
            hasNextPage: true
            hasPreviousPage: false
    MediaUploadSuccess:
      summary: Multi-file upload result
      value:
        success: true
        data:
          uploads:
            - id: cm2x1y2z3
              publicId: lumi/products/board-001
              url: https://res.cloudinary.com/lumi/image/upload/v1727704823/lumi/products/board-001.jpg
              secureUrl: https://res.cloudinary.com/lumi/image/upload/v1727704823/lumi/products/board-001.jpg
              folder: lumi/products
              format: jpg
              resourceType: image
              type: upload
              width: 1920
              height: 1080
              bytes: 245678
              tags:
                - product:cm2a0b1c2
                - hero
              version: 3
              visibility: public
              transformations:
                thumbnail: https://res.cloudinary.com/lumi/image/upload/c_fill,w_300,h_300/v1727704823/lumi/products/board-001.jpg
                medium: https://res.cloudinary.com/lumi/image/upload/c_limit,w_800/v1727704823/lumi/products/board-001.jpg
                large: https://res.cloudinary.com/lumi/image/upload/c_limit,w_1920/v1727704823/lumi/products/board-001.jpg
                responsive_640: https://res.cloudinary.com/lumi/image/upload/c_limit,w_640/v1727704823/lumi/products/board-001.jpg
              metadata:
                alt: Carbon desk with walnut legs
                dominantColor: "#3B82F6"
          failures: []
        meta:
          counts:
            total: 1
            uploaded: 1
            failed: 0
          partialFailure: false
    MediaUploadPayloadTooLarge:
      summary: Upload rejected due to size
      value:
        success: false
        error:
          code: PAYLOAD_TOO_LARGE
          message: File exceeds maximum allowed size.
          details:
            - message: Maximum allowed size is 5242880 bytes
              fileName: hero.png
        meta:
          timestamp: 2025-10-01T12:00:00Z
          requestId: d2fa64a9-fd79-4c6d-925c-9b5a83185cf8
    MediaDeleteForbidden:
      summary: Delete denied
      value:
        success: false
        error:
          code: FORBIDDEN
          message: Administrator privileges required to delete media assets.
        meta:
          timestamp: 2025-10-01T12:00:00Z
          requestId: e6b60c86-0aac-4f56-aa55-0fb52e8c4760
    MediaUploadUnsupportedMime:
      summary: Unsupported MIME type
      value:
        success: false
        error:
          code: UNSUPPORTED_MEDIA_TYPE
          message: Unsupported media type.
          details:
            - message: MIME type application/x-msdownload is not supported.
              fileName: payload.exe
        meta:
          timestamp: 2025-10-01T12:00:00Z
          requestId: 918eb7a5-1d57-48df-94c1-b415cbc6ebb0
    MediaAssetSuccess:
      summary: Single media asset
      value:
        success: true
        data:
          id: cm2x1y2z3
          publicId: lumi/products/board-001
          url: https://res.cloudinary.com/lumi/image/upload/v1727704823/lumi/products/board-001.jpg
          secureUrl: https://res.cloudinary.com/lumi/image/upload/v1727704823/lumi/products/board-001.jpg
          folder: lumi/products
          format: jpg
          resourceType: image
          type: upload
          width: 1920
          height: 1080
          bytes: 245678
          tags:
            - product:cm2a0b1c2
            - hero
          metadata:
            alt: Carbon desk with walnut legs
            dominantColor: "#3B82F6"
          version: 3
          visibility: public
          transformations:
            thumbnail: https://res.cloudinary.com/lumi/image/upload/c_fill,w_300,h_300/v1727704823/lumi/products/board-001.jpg
            medium: https://res.cloudinary.com/lumi/image/upload/c_limit,w_800/v1727704823/lumi/products/board-001.jpg
            large: https://res.cloudinary.com/lumi/image/upload/c_limit,w_1920/v1727704823/lumi/products/board-001.jpg
            responsive_640: https://res.cloudinary.com/lumi/image/upload/c_limit,w_640/v1727704823/lumi/products/board-001.jpg
          usage:
            products:
              - id: cm2a0b1c2
                title: Carbon Desk
                slug: carbon-desk
            variants:
              - id: cm2a0b1v0
                sku: CARBON-DESK-STD
                productId: cm2a0b1c2
          createdAt: 2025-09-29T10:01:08.000Z
          updatedAt: 2025-09-29T10:01:08.000Z
    MediaDeleteConflict:
      summary: Media asset still referenced
      value:
        success: false
        error:
          code: CONFLICT
          message: Media asset is currently assigned to products or variants.
          details:
            - message: Detach all associations before deleting this asset.
              products: 2
              variants: 1
        meta:
          timestamp: 2025-10-01T12:00:00Z
          requestId: 8fd53f56-2c1d-4d6c-9b9b-4b1f683d8fe4
  responses:
    UnauthorizedError:
      description: Caller is not authenticated.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/StandardErrorResponse"
          examples:
            default:
              value:
                success: false
                error:
                  code: UNAUTHORIZED
                  message: Authentication token missing or expired.
                meta:
                  timestamp: 2025-10-01T12:00:00Z
                  requestId: 3b379a4b-7ab4-48b0-9eae-2ca8c59dbb53
    ForbiddenError:
      description: Caller lacks sufficient privileges (RBAC failure).
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/StandardErrorResponse"
          examples:
            default:
              value:
                success: false
                error:
                  code: FORBIDDEN
                  message: Administrator privileges required.
                meta:
                  timestamp: 2025-10-01T12:00:00Z
                  requestId: f631c7be-e876-4d6b-9b9f-4de9128010a9
  schemas:
    Meta:
      type: object
      properties:
        timestamp:
          type: string
          format: date-time
        requestId:
          type: string
          format: uuid
        pagination:
          $ref: "#/components/schemas/Pagination"
    Pagination:
      type: object
      properties:
        page:
          type: integer
          minimum: 1
        perPage:
          type: integer
          minimum: 1
          maximum: 200
        total:
          type: integer
          minimum: 0
        totalPages:
          type: integer
          minimum: 0
    StandardSuccessResponse:
      type: object
      required:
        - success
        - data
        - meta
      properties:
        success:
          type: boolean
          enum:
            - true
        data: {}
        meta:
          $ref: "#/components/schemas/Meta"
    StandardError:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: string
        message:
          type: string
        details:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              message:
                type: string
    StandardErrorResponse:
      type: object
      required:
        - success
        - error
        - meta
      properties:
        success:
          type: boolean
          enum:
            - false
        error:
          $ref: "#/components/schemas/StandardError"
        meta:
          $ref: "#/components/schemas/Meta"
    Money:
      type: object
      required:
        - amount
        - currency
      properties:
        amount:
          type: string
        currency:
          type: string
          minLength: 3
          maxLength: 3
    AuditTimestamps:
      type: object
      properties:
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    SoftDelete:
      type: object
      properties:
        deletedAt:
          type: string
          format: date-time
          nullable: true
    Category:
      allOf:
        - $ref: "#/components/schemas/AuditTimestamps"
        - type: object
          required:
            - id
            - name
            - slug
          properties:
            id:
              type: string
              format: cuid
            name:
              type: string
            slug:
              type: string
            description:
              type: string
              nullable: true
            parentId:
              type: string
              format: cuid
              nullable: true
            path:
              type: string
            level:
              type: integer
            imageUrl:
              type: string
              format: uri
              nullable: true
            displayOrder:
              type: integer
              nullable: true
    ProductVariant:
      allOf:
        - $ref: "#/components/schemas/AuditTimestamps"
        - type: object
          required:
            - id
            - title
            - sku
            - price
            - stock
            - isPrimary
          properties:
            id:
              type: string
              format: cuid
            title:
              type: string
            sku:
              type: string
            price:
              $ref: "#/components/schemas/Money"
            compareAtPrice:
              $ref: "#/components/schemas/Money"
            stock:
              type: integer
            attributes:
              type: object
              additionalProperties: true
              nullable: true
            isPrimary:
              type: boolean
    MediaUsageSummary:
      type: object
      required:
        - products
        - variants
      properties:
        products:
          type: array
          items:
            type: object
            required:
              - id
              - title
              - slug
            properties:
              id:
                type: string
                format: cuid
              title:
                type: string
              slug:
                type: string
        variants:
          type: array
          items:
            type: object
            required:
              - id
              - productId
            properties:
              id:
                type: string
                format: cuid
              productId:
                type: string
                format: cuid
              sku:
                type: string
                nullable: true
    MediaAsset:
      allOf:
        - $ref: "#/components/schemas/AuditTimestamps"
        - type: object
          required:
            - id
            - publicId
            - url
            - secureUrl
            - format
            - resourceType
            - type
            - bytes
            - tags
            - version
            - transformations
            - usage
            - visibility
          properties:
            id:
              type: string
              format: cuid
            publicId:
              type: string
              maxLength: 200
            url:
              type: string
              format: uri
            secureUrl:
              type: string
              format: uri
            folder:
              type: string
              nullable: true
            format:
              type: string
            resourceType:
              type: string
              enum:
                - image
                - video
                - raw
            type:
              type: string
              enum:
                - upload
                - private
                - authenticated
                - fetch
            width:
              type: integer
              nullable: true
            height:
              type: integer
              nullable: true
            bytes:
              type: integer
              minimum: 0
            tags:
              type: array
              items:
                type: string
            metadata:
              type: object
              additionalProperties: true
              nullable: true
            version:
              type: integer
              minimum: 1
            transformations:
              type: object
              description: Cloudinary URLs for named variants (thumbnail, medium, responsive breakpoints).
              additionalProperties:
                type: string
                format: uri
            usage:
              $ref: "#/components/schemas/MediaUsageSummary"
            visibility:
              type: string
              enum:
                - public
                - private
                - internal
            deletedAt:
              type: string
              format: date-time
              nullable: true
    MediaUploadFailure:
      type: object
      required:
        - fileName
        - message
        - code
      properties:
        fileName:
          type: string
        message:
          type: string
        code:
          type: string
        status:
          type: integer
          minimum: 100
          maximum: 599
          nullable: true
    MediaUploadResult:
      type: object
      required:
        - uploads
        - failures
      properties:
        uploads:
          type: array
          description: Successfully persisted media assets.
          items:
            $ref: "#/components/schemas/MediaAsset"
        failures:
          type: array
          description: Uploads rejected due to validation or threat scanning.
          items:
            $ref: "#/components/schemas/MediaUploadFailure"
    MediaUploadMeta:
      type: object
      required:
        - counts
        - partialFailure
      properties:
        counts:
          type: object
          required:
            - total
            - uploaded
            - failed
          properties:
            total:
              type: integer
              minimum: 0
            uploaded:
              type: integer
              minimum: 0
            failed:
              type: integer
              minimum: 0
        partialFailure:
          type: boolean
    Product:
      allOf:
        - $ref: "#/components/schemas/AuditTimestamps"
        - $ref: "#/components/schemas/SoftDelete"
        - type: object
          required:
            - id
            - title
            - slug
            - status
            - price
            - inventoryPolicy
          properties:
            id:
              type: string
              format: cuid
            title:
              type: string
            slug:
              type: string
            status:
              type: string
              enum: [DRAFT, ACTIVE, ARCHIVED]
            summary:
              type: string
              nullable: true
            description:
              type: string
              nullable: true
            price:
              $ref: "#/components/schemas/Money"
            compareAtPrice:
              $ref: "#/components/schemas/Money"
            inventoryPolicy:
              type: string
              enum: [TRACK, CONTINUE, DENY]
            currency:
              type: string
            variants:
              type: array
              items:
                $ref: "#/components/schemas/ProductVariant"
            categories:
              type: array
              items:
                $ref: "#/components/schemas/Category"
            media:
              type: array
              items:
                $ref: "#/components/schemas/MediaAsset"
            attributes:
              type: object
              additionalProperties: true
              nullable: true
    CartItem:
      allOf:
        - $ref: "#/components/schemas/AuditTimestamps"
        - type: object
          required:
            - id
            - productVariantId
            - quantity
            - unitPrice
          properties:
            id:
              type: string
              format: cuid
            productVariantId:
              type: string
              format: cuid
            quantity:
              type: integer
              minimum: 1
            unitPrice:
              $ref: "#/components/schemas/Money"
            productVariant:
              $ref: "#/components/schemas/ProductVariant"
    CartTotals:
      type: object
      required:
        - subtotal
        - tax
        - discount
        - total
      properties:
        subtotal:
          $ref: "#/components/schemas/Money"
        tax:
          $ref: "#/components/schemas/Money"
        discount:
          $ref: "#/components/schemas/Money"
        total:
          $ref: "#/components/schemas/Money"
    Cart:
      allOf:
        - $ref: "#/components/schemas/AuditTimestamps"
        - type: object
          required:
            - id
            - status
            - items
            - totals
          properties:
            id:
              type: string
              format: cuid
            userId:
              type: string
              format: cuid
              nullable: true
            sessionId:
              type: string
              nullable: true
            status:
              type: string
              enum: [ACTIVE, CHECKED_OUT, ABANDONED]
            expiresAt:
              type: string
              format: date-time
              nullable: true
            items:
              type: array
              items:
                $ref: "#/components/schemas/CartItem"
            totals:
              $ref: "#/components/schemas/CartTotals"
    Address:
      allOf:
        - $ref: "#/components/schemas/AuditTimestamps"
        - type: object
          required:
            - id
            - fullName
            - line1
            - city
            - country
          properties:
            id:
              type: string
              format: cuid
            label:
              type: string
            fullName:
              type: string
            phone:
              type: string
              nullable: true
            line1:
              type: string
            line2:
              type: string
              nullable: true
            city:
              type: string
            state:
              type: string
              nullable: true
            postalCode:
              type: string
            country:
              type: string
            isDefault:
              type: boolean
    OrderItem:
      allOf:
        - $ref: "#/components/schemas/AuditTimestamps"
        - type: object
          required:
            - id
            - productId
            - quantity
            - unitPrice
          properties:
            id:
              type: string
              format: cuid
            productId:
              type: string
            productVariantId:
              type: string
            quantity:
              type: integer
            unitPrice:
              $ref: "#/components/schemas/Money"
            titleSnapshot:
              type: string
    Order:
      allOf:
        - $ref: "#/components/schemas/AuditTimestamps"
        - type: object
          required:
            - id
            - reference
            - status
            - totalAmount
          properties:
            id:
              type: string
              format: cuid
            reference:
              type: string
            status:
              type: string
              enum: [PENDING, PAID, FULFILLED, SHIPPED, DELIVERED, CANCELLED]
            totalAmount:
              $ref: "#/components/schemas/Money"
            subtotalAmount:
              $ref: "#/components/schemas/Money"
            taxAmount:
              $ref: "#/components/schemas/Money"
            discountAmount:
              $ref: "#/components/schemas/Money"
            currency:
              type: string
            items:
              type: array
              items:
                $ref: "#/components/schemas/OrderItem"
            itemsCount:
              type: integer
            shippingAddressId:
              type: string
              nullable: true
            billingAddressId:
              type: string
              nullable: true
    OrderDetail:
      allOf:
        - $ref: "#/components/schemas/Order"
        - type: object
          properties:
            shippingAddress:
              $ref: "#/components/schemas/Address"
            billingAddress:
              $ref: "#/components/schemas/Address"
            payments:
              type: array
              items:
                $ref: "#/components/schemas/Payment"
            timeline:
              type: array
              items:
                $ref: "#/components/schemas/OrderStatusEvent"
            tracking:
              $ref: "#/components/schemas/Tracking"
    Payment:
      allOf:
        - $ref: "#/components/schemas/AuditTimestamps"
        - type: object
          required:
            - id
            - provider
            - status
            - amount
          properties:
            id:
              type: string
              format: cuid
            provider:
              type: string
              enum: [IYZICO, STRIPE, PAYPAL, MANUAL]
            status:
              type: string
              enum: [INITIATED, AUTHORIZED, SETTLED, FAILED, REFUNDED]
            transactionId:
              type: string
            amount:
              $ref: "#/components/schemas/Money"
            currency:
              type: string
            failureReason:
              type: string
              nullable: true
    OrderStatusEvent:
      type: object
      required:
        - status
        - timestamp
      properties:
        status:
          type: string
          enum: [PENDING, PAID, FULFILLED, SHIPPED, DELIVERED, CANCELLED]
        timestamp:
          type: string
          format: date-time
    Tracking:
      type: object
      properties:
        trackingNumber:
          type: string
          nullable: true
        trackingUrl:
          type: string
          format: uri
          nullable: true
        carrier:
          type: string
          nullable: true
        estimatedDelivery:
          type: string
          format: date-time
          nullable: true
    UserProfile:
      type: object
      required:
        - user
        - addresses
        - preferences
      properties:
        user:
          $ref: "#/components/schemas/User"
        addresses:
          type: array
          items:
            $ref: "#/components/schemas/Address"
        preferences:
          $ref: "#/components/schemas/UserPreferences"
    User:
      allOf:
        - $ref: "#/components/schemas/AuditTimestamps"
        - type: object
          required:
            - id
            - email
            - status
          properties:
            id:
              type: string
              format: cuid
            email:
              type: string
              format: email
            firstName:
              type: string
              nullable: true
            lastName:
              type: string
              nullable: true
            status:
              type: string
              enum: [ACTIVE, SUSPENDED, DELETED]
            roles:
              type: array
              items:
                type: string
            permissions:
              type: array
              items:
                type: string
            emailVerified:
              type: boolean
    UserPreferences:
      allOf:
        - $ref: "#/components/schemas/AuditTimestamps"
        - type: object
          required:
            - language
            - currency
            - marketingOptIn
            - notifications
          properties:
            language:
              type: string
            currency:
              type: string
            marketingOptIn:
              type: boolean
            notifications:
              type: object
              properties:
                email:
                  type: boolean
                sms:
                  type: boolean
                push:
                  type: boolean
            privacy:
              type: object
              properties:
                personalisedRecommendations:
                  type: boolean
                dataSharing:
                  type: boolean
                profileVisibility:
                  type: string
                  enum: [private, customers, public]
    ProductCreateInput:
      type: object
      required:
        - title
        - price
        - variants
        - categoryIds
      properties:
        title:
          type: string
        slug:
          type: string
        summary:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
        status:
          type: string
        price:
          $ref: "#/components/schemas/Money"
        compareAtPrice:
          $ref: "#/components/schemas/Money"
        currency:
          type: string
        inventoryPolicy:
          type: string
        searchKeywords:
          type: array
          items:
            type: string
        variants:
          type: array
          items:
            type: object
            required:
              - title
              - price
            properties:
              title:
                type: string
              sku:
                type: string
              price:
                $ref: "#/components/schemas/Money"
              stock:
                type: integer
                minimum: 0
              isPrimary:
                type: boolean
        categoryIds:
          type: array
          items:
            type: string
            format: cuid
        media:
          type: array
          items:
            type: object
            properties:
              mediaId:
                type: string
                format: cuid
              sortOrder:
                type: integer
                nullable: true
              isPrimary:
                type: boolean
    ProductUpdateInput:
      allOf:
        - $ref: "#/components/schemas/ProductCreateInput"
      description: >
        Partial update payload; unspecified fields remain unchanged.
    CategoryInput:
      type: object
      required:
        - name
      properties:
        name:
          type: string
        slug:
          type: string
        description:
          type: string
          nullable: true
        parentId:
          type: string
          format: cuid
        imageUrl:
          type: string
          format: uri
        displayOrder:
          type: integer
          nullable: true
    CartItemInput:
      type: object
      required:
        - productVariantId
        - quantity
      properties:
        productVariantId:
          type: string
          format: cuid
        quantity:
          type: integer
          minimum: 1
          maximum: 20
    CartMergeInput:
      type: object
      required:
        - guestCartId
      properties:
        guestCartId:
          type: string
          format: cuid
        overrideStrategy:
          type: string
          enum: [MERGE, REPLACE]
          default: MERGE
    OrderCreateInput:
      type: object
      properties:
        cartId:
          type: string
          format: cuid
        shippingAddressId:
          type: string
          format: cuid
        billingAddressId:
          type: string
          format: cuid
        couponCode:
          type: string
        notes:
          type: string
          nullable: true
    OrderStatusUpdateInput:
      type: object
      required:
        - status
      properties:
        status:
          type: string
          enum: [PENDING, PAID, FULFILLED, SHIPPED, DELIVERED, CANCELLED]
        reason:
          type: string
          nullable: true
    OrderNoteInput:
      type: object
      required:
        - note
      properties:
        note:
          type: string
    RefundRequestInput:
      type: object
      required:
        - amount
        - reason
      properties:
        amount:
          $ref: "#/components/schemas/Money"
        reason:
          type: string
    UserProfileUpdateInput:
      type: object
      properties:
        firstName:
          type: string
        lastName:
          type: string
        phone:
          type: string
    ChangePasswordInput:
      type: object
      required:
        - currentPassword
        - newPassword
      properties:
        currentPassword:
          type: string
        newPassword:
          type: string
          minLength: 12
    AddressInput:
      type: object
      required:
        - label
        - fullName
        - line1
        - city
        - country
        - postalCode
      properties:
        label:
          type: string
        fullName:
          type: string
        phone:
          type: string
        line1:
          type: string
        line2:
          type: string
          nullable: true
        city:
          type: string
        state:
          type: string
        postalCode:
          type: string
        country:
          type: string
        isDefault:
          type: boolean
    UserPreferencesInput:
      type: object
      properties:
        language:
          type: string
        currency:
          type: string
        marketingOptIn:
          type: boolean
        notifications:
          type: object
          properties:
            email:
              type: boolean
            sms:
              type: boolean
            push:
              type: boolean
        privacy:
          type: object
          properties:
            personalisedRecommendations:
              type: boolean
            dataSharing:
              type: boolean
            profileVisibility:
              type: string
              enum: [private, customers, public]
    CartValidationIssue:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        itemId:
          type: string
          format: cuid
          nullable: true
    CartValidationResult:
      type: object
      required:
        - cart
        - issues
      properties:
        cart:
          $ref: "#/components/schemas/Cart"
        issues:
          type: array
          items:
            $ref: "#/components/schemas/CartValidationIssue"
    OrderStats:
      type: object
      properties:
        totalOrders:
          type: integer
        revenue:
          $ref: "#/components/schemas/Money"
        pending:
          type: integer
        paid:
          type: integer
        cancelled:
          type: integer
        fulfillmentLatencyP95:
          type: integer
          description: Milliseconds between placement and fulfillment.
    UserStatusUpdateInput:
      type: object
      required:
        - status
      properties:
        status:
          type: string
          enum: [ACTIVE, SUSPENDED, DELETED]
    AdminUnlockUserInput:
      type: object
      properties:
        reason:
          type: string
          nullable: true
paths:
  /api/v1/health:
    get:
      tags: [Health]
      summary: Service health overview
      description: Returns the current health summary, dependency probes, and release metadata.
      responses:
        "200":
          description: Health summary
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/StandardSuccessResponse"
                  - type: object
                    properties:
                      data:
                        type: object
                        additionalProperties: true
  /api/v1/products:
    get:
      tags: [Catalog]
      summary: List products
      description: >
        Returns a paginated product catalogue with filtering, sorting, and full-text search
        capabilities. Public endpoint with per-IP rate limiting (120 requests / 5 minutes).
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: perPage
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 24
        - name: sort
          in: query
          description: Sort key (`-createdAt`, `price`, `popularity`).
          schema:
            type: string
        - name: filter[category]
          in: query
          schema:
            type: string
        - name: filter[status]
          in: query
          schema:
            type: string
            enum: [ACTIVE, DRAFT, ARCHIVED]
        - name: search
          in: query
          schema:
            type: string
        - $ref: "#/components/parameters/RequestIdHeader"
      responses:
        "200":
          description: Paginated products
          headers:
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/StandardSuccessResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Product"
        "429":
          description: Rate limit exceeded.
  /api/v1/products/popular:
    get:
      tags: [Catalog]
      summary: List popular products
      description: Cached (60s TTL) curated list based on conversions and view metrics.
      responses:
        "200":
          description: Highlighted products
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/StandardSuccessResponse"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          items:
                            type: array
                            items:
                              $ref: "#/components/schemas/Product"
  /api/v1/products/{slug}:
    get:
      tags: [Catalog]
      summary: Get product by slug
      parameters:
        - $ref: "#/components/parameters/ProductSlug"
      responses:
        "200":
          description: Product found
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/StandardSuccessResponse"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          product:
                            $ref: "#/components/schemas/Product"
        "404":
          description: Product not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StandardErrorResponse"
  /api/v1/products/{id}/variants:
    get:
      tags: [Catalog]
      summary: List variants
      parameters:
        - $ref: "#/components/parameters/ProductId"
      responses:
        "200":
          description: Product variants
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/StandardSuccessResponse"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          items:
                            type: array
                            items:
                              $ref: "#/components/schemas/ProductVariant"
        "404":
          description: Product not found
  /api/v1/categories:
    get:
      tags: [Catalog]
      summary: List categories
      description: Returns the category tree ordered by display priority.
      responses:
        "200":
          description: Categories fetched
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/StandardSuccessResponse"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          items:
                            type: array
                            items:
                              $ref: "#/components/schemas/Category"
  /api/v1/categories/{slug}:
    get:
      tags: [Catalog]
      summary: Get category by slug
      parameters:
        - $ref: "#/components/parameters/CategorySlug"
      responses:
        "200":
          description: Category found
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/StandardSuccessResponse"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          category:
                            $ref: "#/components/schemas/Category"
        "404":
          description: Category not found
  /api/v1/admin/products:
    post:
      tags: [Catalog, Admin]
      summary: Create product
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProductCreateInput"
      responses:
        "201":
          description: Product created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/StandardSuccessResponse"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          product:
                            $ref: "#/components/schemas/Product"
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StandardErrorResponse"
        "403":
          $ref: "#/components/responses/ForbiddenError"
  /api/v1/admin/products/{id}:
    put:
      tags: [Catalog, Admin]
      summary: Update product
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ProductId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProductUpdateInput"
      responses:
        "200":
          description: Updated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/StandardSuccessResponse"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          product:
                            $ref: "#/components/schemas/Product"
        "404":
          description: Product not found
    delete:
      tags: [Catalog, Admin]
      summary: Soft delete product
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ProductId"
      responses:
        "204":
          description: Deleted
  /api/v1/admin/products/{id}/variants:
    post:
      tags: [Catalog, Admin]
      summary: Add variant
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ProductId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProductVariant"
      responses:
        "201":
          description: Variant created
  /api/v1/admin/products/{id}/variants/{variantId}:
    put:
      tags: [Catalog, Admin]
      summary: Update variant
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ProductId"
        - $ref: "#/components/parameters/VariantId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProductVariant"
      responses:
        "200":
          description: Variant updated
    delete:
      tags: [Catalog, Admin]
      summary: Remove variant
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ProductId"
        - $ref: "#/components/parameters/VariantId"
      responses:
        "204":
          description: Variant deleted
  /api/v1/admin/categories:
    post:
      tags: [Catalog, Admin]
      summary: Create category
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CategoryInput"
      responses:
        "201":
          description: Category created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/StandardSuccessResponse"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          category:
                            $ref: "#/components/schemas/Category"
  /api/v1/admin/categories/{id}:
    put:
      tags: [Catalog, Admin]
      summary: Update category
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/CategoryId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CategoryInput"
      responses:
        "200":
          description: Category updated
    delete:
      tags: [Catalog, Admin]
      summary: Delete category
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/CategoryId"
      responses:
        "204":
          description: Category deleted
  /api/v1/cart:
    get:
      tags: [Cart]
      summary: Retrieve current user's cart
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Active cart
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/StandardSuccessResponse"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          cart:
                            $ref: "#/components/schemas/Cart"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
    delete:
      tags: [Cart]
      summary: Clear cart
      security:
        - bearerAuth: []
      responses:
        "204":
          description: Cart cleared
  /api/v1/cart/items:
    post:
      tags: [Cart]
      summary: Add or update line item
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CartItemInput"
      responses:
        "201":
          description: Item added
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/StandardSuccessResponse"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          cart:
                            $ref: "#/components/schemas/Cart"
  /api/v1/cart/items/{itemId}:
    put:
      tags: [Cart]
      summary: Update quantity
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/CartItemId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [quantity]
              properties:
                quantity:
                  type: integer
                  minimum: 1
                  maximum: 20
      responses:
        "200":
          description: Updated
    delete:
      tags: [Cart]
      summary: Remove item
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/CartItemId"
      responses:
        "204":
          description: Removed
  /api/v1/cart/merge:
    post:
      tags: [Cart]
      summary: Merge guest cart
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CartMergeInput"
      responses:
        "200":
          description: Merged cart
  /api/v1/cart/validate:
    get:
      tags: [Cart]
      summary: Validate cart before checkout
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Validation report
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/StandardSuccessResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/CartValidationResult"
  /api/v1/orders:
    post:
      tags: [Orders]
      summary: Create order
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrderCreateInput"
      responses:
        "201":
          description: Order created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/StandardSuccessResponse"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          order:
                            $ref: "#/components/schemas/OrderDetail"
    get:
      tags: [Orders]
      summary: List customer orders
      security:
        - bearerAuth: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: perPage
          in: query
          schema:
            type: integer
            default: 10
            maximum: 50
        - name: status
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Orders page
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/StandardSuccessResponse"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          items:
                            type: array
                            items:
                              $ref: "#/components/schemas/Order"
  /api/v1/orders/{id}:
    get:
      tags: [Orders]
      summary: Get order details
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/OrderId"
      responses:
        "200":
          description: Order detail
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/StandardSuccessResponse"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          order:
                            $ref: "#/components/schemas/OrderDetail"
        "404":
          description: Not found
  /api/v1/orders/{id}/cancel:
    put:
      tags: [Orders]
      summary: Cancel order
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/OrderId"
      responses:
        "200":
          description: Cancelled
  /api/v1/orders/{reference}/track:
    get:
      tags: [Orders]
      summary: Track order status via reference
      parameters:
        - $ref: "#/components/parameters/OrderReference"
      responses:
        "200":
          description: Tracking details
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/StandardSuccessResponse"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          tracking:
                            $ref: "#/components/schemas/Tracking"
        "404":
          description: Not found
  /api/v1/admin/orders:
    get:
      tags: [Orders, Admin]
      summary: List orders (admin)
      security:
        - bearerAuth: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
        - name: perPage
          in: query
          schema:
            type: integer
            maximum: 100
        - name: status
          in: query
          schema:
            type: string
        - name: customerEmail
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Orders
  /api/v1/admin/orders/stats:
    get:
      tags: [Orders, Admin]
      summary: Order KPIs
      security:
        - bearerAuth: []
      responses:
        "200":
          description: KPI snapshot
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/StandardSuccessResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/OrderStats"
  /api/v1/admin/orders/{id}:
    get:
      tags: [Orders, Admin]
      summary: Get order (admin)
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/OrderId"
      responses:
        "200":
          description: Order detail
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/StandardSuccessResponse"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          order:
                            $ref: "#/components/schemas/OrderDetail"
  /api/v1/admin/orders/{id}/status:
    put:
      tags: [Orders, Admin]
      summary: Update order status
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/OrderId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrderStatusUpdateInput"
      responses:
        "200":
          description: Updated
  /api/v1/admin/orders/{id}/notes:
    post:
      tags: [Orders, Admin]
      summary: Add order note
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/OrderId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrderNoteInput"
      responses:
        "201":
          description: Note created
  /api/v1/admin/orders/{id}/refund:
    post:
      tags: [Orders, Admin]
      summary: Process refund
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/OrderId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RefundRequestInput"
      responses:
        "202":
          description: Refund initiated
  /api/v1/users/me:
    get:
      tags: [Users]
      summary: Get authenticated profile
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Profile
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/StandardSuccessResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/UserProfile"
    put:
      tags: [Users]
      summary: Update profile
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserProfileUpdateInput"
      responses:
        "200":
          description: Updated profile
  /api/v1/users/me/password:
    put:
      tags: [Users]
      summary: Change password
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChangePasswordInput"
      responses:
        "204":
          description: Password updated
  /api/v1/users/me/addresses:
    get:
      tags: [Users]
      summary: List addresses
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Addresses
    post:
      tags: [Users]
      summary: Create address
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddressInput"
      responses:
        "201":
          description: Address created
  /api/v1/users/me/addresses/{addressId}:
    put:
      tags: [Users]
      summary: Update address
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/AddressId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddressInput"
      responses:
        "200":
          description: Address updated
    delete:
      tags: [Users]
      summary: Delete address
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/AddressId"
      responses:
        "204":
          description: Address deleted
  /api/v1/users/me/addresses/{addressId}/default:
    put:
      tags: [Users]
      summary: Set default address
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/AddressId"
      responses:
        "204":
          description: Default updated
  /api/v1/users/me/preferences:
    get:
      tags: [Users]
      summary: Get preferences
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Preferences
    put:
      tags: [Users]
      summary: Update preferences
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserPreferencesInput"
      responses:
        "200":
          description: Preferences updated
  /api/v1/admin/users:
    get:
      tags: [Users, Admin]
      summary: List users
      security:
        - bearerAuth: []
      parameters:
        - name: format
          in: query
          schema:
            type: string
            enum: [json, csv]
        - name: status
          in: query
          schema:
            type: string
        - name: search
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Users
  /api/v1/admin/users/{id}:
    get:
      tags: [Users, Admin]
      summary: Inspect user
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/UserId"
      responses:
        "200":
          description: User detail
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/StandardSuccessResponse"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          user:
                            $ref: "#/components/schemas/UserProfile"
  /api/v1/admin/users/{id}/status:
    put:
      tags: [Users, Admin]
      summary: Update user status
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/UserId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserStatusUpdateInput"
      responses:
        "200":
          description: Status updated
  /api/v1/admin/users/{id}/unlock:
    post:
      tags: [Users, Admin]
      summary: Unlock user
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/UserId"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdminUnlockUserInput"
      responses:
        "202":
          description: Unlock request accepted
  /api/v1/media:
    get:
      tags: [Media]
      summary: List media assets
      description: >
        Returns a paginated list of Cloudinary-backed assets. Private and internal assets are returned only to the
        uploader or RBAC-approved operators. Responses include cache headers and strong ETags so the admin portal can
        poll efficiently.
      security:
        - bearerAuth: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: perPage
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 24
        - name: folder
          in: query
          schema:
            type: string
          description: Restrict results to a specific Cloudinary folder (e.g., `lumi/products`).
        - name: resourceType
          in: query
          schema:
            type: string
            enum: [image, video, raw]
        - name: tags
          in: query
          description: >
            Filter by tags (AND semantics). Repeat the parameter to provide multiple tags (e.g., `tags=product:123&tags=hero`).
          schema:
            type: array
            items:
              type: string
          style: form
          explode: true
        - name: tag
          in: query
          schema:
            type: string
          description: Convenience alias for a single tag filter.
        - name: search
          in: query
          schema:
            type: string
            minLength: 2
            maxLength: 120
          description: Case-insensitive search across `publicId`, folder, and tags.
        - name: productId
          in: query
          schema:
            type: string
            format: cuid
        - name: productVariantId
          in: query
          schema:
            type: string
            format: cuid
        - name: uploadedById
          in: query
          schema:
            type: string
            format: cuid
        - name: includeDeleted
          in: query
          schema:
            type: boolean
          description: >
            When `true`, includes soft-deleted assets. Ignored unless the caller has the `admin` or `staff` role.
        - $ref: "#/components/parameters/RequestIdHeader"
      responses:
        "200":
          description: Paginated media assets
          headers:
            ETag:
              description: Strong validator representing the asset list snapshot.
              schema:
                type: string
            Cache-Control:
              description: Cache policy hint for CDN/CDP layers.
              schema:
                type: string
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/StandardSuccessResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/MediaAsset"
                      meta:
                        type: object
                        properties:
                          pagination:
                            $ref: "#/components/schemas/Pagination"
              examples:
                success:
                  $ref: "#/components/examples/MediaListSuccess"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
  /api/v1/media/upload:
    post:
      tags: [Media]
      summary: Upload media assets
      description: >
        Accepts up to 10 files per request, enforces MIME/size policies, performs malware scanning, and stores the
        assets in Cloudinary with eager thumbnail/medium/large variants and responsive breakpoints.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - files
              properties:
                files:
                  type: array
                  minItems: 1
                  maxItems: 10
                  items:
                    type: string
                    format: binary
                  description: Image files (`image/jpeg`, `image/png`, `image/webp`, `image/gif`).
                folder:
                  type: string
                  description: >
                    Target Cloudinary folder. Must match an allow-listed value (e.g., `lumi/products`, `lumi/banners`).
                  example: lumi/products
                visibility:
                  type: string
                  enum: [public, private, internal]
                  default: public
                tags:
                  type: array
                  items:
                    type: string
                  description: Optional contextual tags (product, campaign, locale).
                metadata:
                  description: Optional JSON payload for alt text, captions, or custom fields.
                  oneOf:
                    - type: object
                      additionalProperties: true
                    - type: string
                      description: JSON string
            encoding:
              files:
                contentType: image/jpeg, image/png, image/webp, image/gif
                style: form
                explode: true
      responses:
        "200":
          description: Upload summary
          headers:
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/StandardSuccessResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/MediaUploadResult"
                      meta:
                        $ref: "#/components/schemas/MediaUploadMeta"
              examples:
                success:
                  $ref: "#/components/examples/MediaUploadSuccess"
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StandardErrorResponse"
              examples:
                validation:
                  $ref: "#/components/examples/ValidationError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "413":
          description: File too large
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StandardErrorResponse"
              examples:
                tooLarge:
                  $ref: "#/components/examples/MediaUploadPayloadTooLarge"
        "415":
          description: Unsupported MIME type
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StandardErrorResponse"
              examples:
                unsupported:
                  $ref: "#/components/examples/MediaUploadUnsupportedMime"
        "429":
          description: Upload rate limited
          headers:
            Retry-After:
              $ref: "#/components/headers/Retry-After"
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StandardErrorResponse"
  /api/v1/admin/media/{id}:
    delete:
      tags: [Media, Admin]
      summary: Soft delete media asset
      description: >
        Marks the asset as deleted and removes it from listings. Actual Cloudinary destruction happens through the
        follow-up cleanup job or the permanent delete endpoint. Requires `admin` or `staff`.
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/MediaId"
        - $ref: "#/components/parameters/RequestIdHeader"
      responses:
        "200":
          description: Deleted asset snapshot
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/StandardSuccessResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/MediaAsset"
              examples:
                success:
                  $ref: "#/components/examples/MediaAssetSuccess"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          description: Asset not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StandardErrorResponse"
        "409":
          description: Asset still referenced
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StandardErrorResponse"
              examples:
                conflict:
                  $ref: "#/components/examples/MediaDeleteConflict"
